<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../public/css/dashboard.css">
</head>
<body>
    <section name="dashboard" class="dashboard">
        <nav>
            <ul>
                <li><a href="dashboard.html">Inicio</a></li>
                <li><a href="./desarrollo.html">Eventos</a></li>
                <li><a href="./desarrollo.html">Gestion</a></li>
                <li><a href="./desarrollo.html">Configuracion</a></li>
                <li name="login"><a href="login.html">Iniciar Sesion</a></li>
            </ul>
        </nav>
    </section>
    <section class="content">
    </section>
</body>
</html>