<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../public/css/dashboard.css">
</head>
<body>
    <section class="dashboard" class="dashboard">
        <nav>
            <ul>
                <li><a href="dashboard.html">Inicio</a></li>
                <li><a href="./desarrollo.html">Eventos</a></li>
                <li><a href="./desarrollo.html">Gestion</a></li>
                <li><a href="./desarrollo.html">Configuracion</a></li>
                <li class="login"><a href="login.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </section>
    <section class="content">
        <div class="container">
            <h1>Dashboard</h1>
            <p>Bienvenido al dashboard</p>
            <div class="cards">
                <div class="card">
                    <h2>Eventos</h2>
                    <p>Crea tus eventos asi:</p>
                    <img src="" alt="Imagen" class="card-image">
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card">
                    <h2>Gestion</h2>
                    <p>Gestiona tus eventos asi:</p>
                    <img src="" alt="" class="card-image">
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="card">
                    <h2>Usuarios</h2>
                    <p>Gestiona los usuarios de tu evento asi:</p>
                    <img src="" alt="" class="card-image">
                    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>