<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../public/css/dashboard.css">
</head>
<body>
    <section name="dashboard" class="dashboard">
        <nav>
            <ul>
                <li>Inicio</li>
                <li>Eventos</li>
                <li>Gestion</li>
                <li>Configuracion</li>
            </ul>
        </nav>
    </section>
    <section class="content">
    </section>
</body>
</html>